@using _13_ModelDataTransferObject.Models.DTOs;
@model ProductDTO

<h1>Ürün Detayı</h1>
<p>Ürün ID: @Model.ProductId</p>
<p>Ürün Adı: @Model.Name</p>
<p>Ürün Fiyatı: @Model.Price</p>
<p>Kategori: @Model.CategoryName</p>
