@{
    ViewData["Title"] = "CreateForm";
}

<form method="post">
    <div class="form-group">
        <label for="username">Kullanıcı Adı</label>
        <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="email">E-Posta Adresi</label>
        <input type="text" id="email" name="email" class="form-control" />
    </div>
<div class="form-group">
    <label for="pass">Şifre</label>
    <input type="password" id="pass" name="pass" class="form-control" />
</div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

